a:link {
  color: forestgreen;
  text-decoration-color: orange;

}

th,
td {
  border: 1px solid orange;

}

#successMessage {
  color: #270;
  background-color: #DFF2BF;
}

#errors {
  color: #D8000C;
  background-color: #FFBABA;
}

.btnGreen {
  background-color: forestgreen;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}